# folders not to include on git
.idea/
build/
crisprzip_model.egg-info/
src/crisprzip.egg-info/
venv/
venv311/
venv312/
venv313/
docs/_build/
docs/jupyter_execute/
docs/userdocs/tutorial.ipynb
docs/devdocs/changelog.md
docs/devdocs/contributing.md
docs/devdocs/code_of_conduct.md
dist/

# cache
**/__pycache__/
**/.pytest_cache/
